<!-- <div class="mainClass"><app-header></app-header>
    <div class="container">
        <app-recipe-list></app-recipe-list>
        <app-shopping-list></app-shopping-list>
    </div>
</div> -->
<div class="mainClass">
    <app-header (dataToParent)="handleSelection($event)"></app-header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-recipes *ngIf="selected ==='recipes'"></app-recipes>
                <app-shopping-list *ngIf=" selected==='shoppingList'"></app-shopping-list>
            </div>

        </div>
    </div>
</div>