<div class="row">
    <div class="col-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div *ngFor="let recipe of recipes" class="list-group ">
            <a href="#" class="list-group-item list-group-item-action clearfix mb-2 bg-secondary">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h4 class="mb-1">{{recipe.name}}</h4>
                        <p class="mb-0">{{recipe.description}}</p>
                    </div>
                    <img src="{{recipe.imagePath}}" alt="" class="img-fluid" style="max-height: 50px;">
                </div>
            </a>
        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>